<div class="row justify-content-center align-items-center w-100 m-0 p-2">
    <div class="card text-center col-sm-12 col-md-8 col-lg-6 my-5 shadow border-0 p-5 ">
        <div class="card-header">Usuario</div>
        <div class="card-body">
            <h5 class="card-title">Nuevo usuario</h5>
            <p class="card-text">Cree un usuario para poder utilizar los servicios de la web.</p>
            <form [formGroup]="userForm" (ngSubmit)="guardarUsuario()">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Nombre del paciente" id="nombre-usuario" formControlName="nombre">
                    <label for="nombre-usuario" class="form-label">Nombre:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Apellido del paciente" id="apellido" formControlName="apellido">
                    <label for="apellido" class="form-label">Apellido:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Nombre de usuario" id="nombre_usuario" formControlName="nombre_usuario">
                    <label for="nombre_usuario" class="form-label">Nombre de usuario:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                    placeholder="Email del paciente" formControlName="email">
                    <label for="email" class="form-label">Correo electronico:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control border-0 border-bottom shadow-none"
                        placeholder="password del usuario" formControlName="password">
                    <label for="password" class="form-label">Contraseña:</label>
                </div>
                <button class="btn btn-outline-primary rounded-pill p-3 fw-bold mt-3 w-100" type="submit">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>