<nav class="navbar navbar-expand-lg navbar-light fondo w-100">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/img/logo-original.png" class="img-brand" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page" href="#">Novedades</a>
        <a class="nav-link" routerLink="quienes-somos" routerLinkActive="active">Conocenos</a>
        <a class="nav-link ">Suscribite</a>
        <a class="nav-link ">Login</a>
        <a class="nav-link ">Admin</a>
        <a class="nav-link " routerLink="nuevo-usuario"><button type="button" class="btn btn-primary py-0">Pedir Turno</button></a>
      </div>
    </div>
  </div>
</nav>