<h1 class="container my-5 fuente"><strong>Metodologias de Trabajo</strong> </h1>
<div class="card mb-3 w-75 mx-auto">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/img/bebe-letras-desarrollo-del-lenguaje.webp"
        class="img-fluid rounded-start h-100"
        alt="..."
      />
    </div>
    <div class="col-md-8 color-fondo">
      <div class="card-body">
        <h5 class="card-title">Desarrollo del lenguaje</h5>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum
          fugit omnis dolor aperiam eaque harum nostrum minus. Dolor
          consequuntur dolorum, temporibus non natus similique, nobis saepe
          soluta recusandae vitae distinctio quasi totam quibusdam voluptate quo
          qui nostrum voluptatum eos dolore! Tempore iure vero ad earum, atque
          provident quos sequi iusto?
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
      <div class="d-grid gap-2 mx-5 mb-2">
        <button class="btn btn-outline-primary" type="button">Ver mas</button>
      </div>
    </div>
  </div>
</div>
