<div class="text-center my-5 container">
    <div>
        <h1 class="my-5">Nuestro trabajo</h1>
        <p>Nos orientamos en el analisis exhaustivo de cada paciente, teniendo siempre presente
            las particularidades y contexto en el cual una persona se desarrolla, este analisis
            desde todas las áreas confluye en un plan de trabajo para estimular o rehabilitar,
            dependiendo el caso, proyectando una mejor calidad de vida para nuestro querido paciente.
            La coordinacion de todas las áreas hacia un objetivo común es un pilar fundamental de
            nuestro equipo y creemos firmemente que es el camino hacia un mejor bienestar.
        </p>
        <div class="row">
            <div class="col-xs-12 col-md-4"> 
                <img src="assets/img/andrea-profe.jpeg" alt="" class="w-100">
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="assets/img/andrea-profe.jpeg" alt="" class="w-100">
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="assets/img/andrea-profe.jpeg" alt="" class="w-100">
            </div>
        </div>
    </div>
</div>