<div class="row justify-content-center align-items-center w-100">
    <div class="card text-center col-sm-12 col-md-8 col-lg-6 my-5 shadow border-0 p-5">
        <div class="card-header">Paciente</div>
        <div class="card-body">
            <h5 class="card-title">Nuevo paciente</h5>
            <p class="card-text">Para poder reservar un turno carga tus datos.</p>
            <form>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Nombre del paciente">
                    <label for="" class="form-label">Nombre:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Apellido del paciente">
                    <label for="" class="form-label">Apellido:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="number" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Dni del paciente">
                    <label for="" class="form-label">Dni:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="date" class="form-control border-0 border-bottom shadow-none"
                        placeholder="fecha de nacimiento del paciente">
                    <label for="" class="form-label">Fecha de nacimiento:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Email del paciente">
                    <label for="" class="form-label">Correo electronico:</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Obra social del paciente">
                    <label for="" class="form-label">Obra social:</label>
                </div>
                <button class="btn btn-outline-primary rounded-pill p-3 fw-bold mt-3 w-100" type="submit">
                    Continuar
                </button>
            </form>
        </div>
    </div>
</div>