<nav>
    <ul class="nav nav-tabs fondo">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Areas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Fonoaudiologia</a></li>
            <li><a class="dropdown-item" href="#">Psicologia</a></li>
            <li><a class="dropdown-item" href="#">Psicopedagogia</a></li>
            <li><a class="dropdown-item" href="#">Psicomotricidad</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Suscribite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Login</a>
        </li>
      </ul>
</nav>
