<h1 class="container my-5 fuente"><strong>Mis especialidades</strong></h1>
<div class="card mb-3 w-75 mx-auto">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/img/bebe-letras-desarrollo-del-lenguaje.webp"
        class="img-fluid rounded-start h-100"
        alt="foto-bebe-acostado"
      />
    </div>
    <div class="col-md-8 color-fondo">
      <div class="card-body">
        <h3 class="card-title">
          Deteccion e interevención en el desarrollo del lenguaje
        </h3>
        <p class="card-text">
          La detección precoz de los niños con retrasos/trastornos del
          desarrollo del lenguaje o con factores de riesgo, permite realizar las
          acciones necesarias de estimulación para alcanzar el desarrollo de
          todas las potencialidades aprovechando los llamados “periodos
          críticos” o “ventanas de oportunidad”. La estimulación e intervención
          temprana constituyen un binomio esencial del trabajo preventivo desde
          la primera infancia, con un papel protagónico de las familias,
          orientadas y guiadas por los especialistas, colaboradores, promotores
          y ejecutores de la estimulación temprana.
        </p>
      </div>
      <div class="d-grid gap-2 mx-5 mb-2">
        <button class="btn btn-outline-primary" type="button">Ver mas</button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 w-75 mx-auto my-5">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/img/Fonoaudiologia.jpg"
        class="img-fluid rounded-start h-100"
        alt="mujer y niño"
      />
    </div>
    <div class="col-md-8 color-fondo">
      <div class="card-body">
        <h3 class="card-title">Evaluaciones Neurolinguisticas</h3>
        <p class="card-text">
          La evaluación neurolingüística provee información cuanti y cualitativa
          que facilita la comprensión del funcionamiento comunicativo,
          lingüístico, conductual y cognitivo del niño.
        </p>
      </div>
      <div class="d-grid gap-2 mx-5 mb-2">
        <button class="btn btn-outline-primary" type="button">Ver mas</button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 w-75 mx-auto my-5">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/img/estimulacion temprana.jpg"
        class="img-fluid rounded-start h-100"
        alt="..."
      />
    </div>
    <div class="col-md-8 color-fondo">
      <div class="card-body">
        <h3 class="card-title">Atencion temprana</h3>
        <p class="card-text">
          El objetivo de esta área es favorecer el desarrollo de la comunicación
          y habilidades pre-lingüísticas, pilares fundamentales para el
          posterior desarrollo del lenguaje y habla. Se estimula la capacidad y
          discriminación auditiva y los precursores del lenguaje (contacto
          visual, sonrisa social, balbuceo). Además, se estimula el desarrollo
          del lenguaje receptivo y expresivo acorde a la etapa evolutiva en la
          que se encuentre el niño.
        </p>
      </div>
      <div class="d-grid gap-2 mx-5 mb-2">
        <button class="btn btn-outline-primary" type="button">Ver mas</button>
      </div>
    </div>
  </div>
</div>
