<div class="row justify-content-center align-items-center w-100 m-0 p-2">
    <div class="card text-center col-sm-12 col-md-8 col-lg-6 my-5 shadow border-0 p-5 ">
        <div class="card-header">Ingresa</div>
        <div class="card-body">
            <h5 class="card-title">Si sos parte de esinia ingresa</h5>
            <p class="card-text">Exclusivo para terapeutas</p>
            <form [formGroup]="loginForm" (submit)="enviarForm()">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Nombre del paciente" id="nombre-usuario" formControlName="nombreEmailUsuario">
                    <label for="nombre-usuario" class="form-label">Usuario/Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control border-0 border-bottom shadow-none"
                        placeholder="Nombre del paciente" id="nombre-usuario" formControlName="password">
                    <label for="nombre-usuario" class="form-label">Contraseña:</label>
                </div>
                <button class="btn btn-outline-primary rounded-pill p-3 fw-bold mt-3 w-100" type="submit">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>