.custom-slider{
    height: 400px !important;
    overflow: hidden;
}

.carousel-caption{
    position: absolute;
    bottom: 20px;
    text-align: center;
    transform: translateX(-50);
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    color: #000;
}

@media (min-width: 768px) and (max-width:1024px){
    .custom-slider{
        height: 500px !important;
        overflow: hidden;
    }   
}

@media (min-width: 1025px){
    .custom-slider{
        height: 600px !important;
        overflow: hidden;
    }
}